body {
    display: flex;
    flex-direction: column;
}

.todo-list {
    background: rgb(6, 33, 59);
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    padding: .5em 1.5em;
    text-align: left;
    box-sizing: border-box;
}