body {
  background-color: dodgerblue;
  color: white;
  text-align: center;
  font-size: 2rem;

}

h3 {
  margin: 0;
  padding-bottom: .3em;
}

.container {
  max-width: 500px;
  margin: 1em auto;
  background-color: rgb(4, 78, 151);
  padding: 1em;
  border-radius: 10px ;
}

button, input {
  padding: .5em 2em;
  margin: .5em auto;
  font-size: 1rem;
  outline: none;
  border-radius: 5px;
  border: none;
  font-weight: bolder;
}

input[type="text"] {
  box-sizing: border-box;
  display: block;
  width: 90%;
}

button {
  margin: 0 1em 1.5em 0;

}

input[type="checkbox"] {
  margin-right: 1em;
  background-color: pink;
  transform: scale(1.5);
}

.add {
  color: green;

}

.clear {
  color: red;
}

.unfinished {
  margin-top: 1em;
  font-size: 1.5rem;
}